.task_1_9_1{ background:url("task_1_9_1.png") top left no-repeat; }
.task_1_9_1_r7_c2{ width:57px; height:57px; background-position:-10px -10px; }
.task_1_9_1_r2_c3{ width:36px; height:36px; background-position:-10px -77px; }
.task_1_9_1_r3_c13{ width:17px; height:17px; background-position:-10px -123px; }
.task_1_9_1_r4_c15{ width:15px; height:16px; background-position:-37px -123px; }
.task_1_9_1_r13_c9{ width:11px; height:12px; background-position:-56px -77px; }
.task_1_9_1_r25_c2{ width:12px; height:12px; background-position:-10px -150px; }
.task_1_9_1_r19_c2{ width:11px; height:12px; background-position:-32px -150px; }
.task_1_9_1_r11_c6{ width:12px; height:12px; background-position:-53px -150px; }
.task_1_9_1_r9_c2{ width:12px; height:12px; background-position:-10px -172px; }
.task_1_9_1_r15_c10{ width:10px; height:11px; background-position:-32px -172px; }
.task_1_9_1_r21_c2{ width:12px; height:11px; background-position:-52px -172px; }
.task_1_9_1_r23_c2{ width:12px; height:11px; background-position:-10px -194px; }
.task_1_9_1_r17_c2{ width:12px; height:11px; background-position:-32px -194px; }

