.task_1_9_2{ background:url("task_1_9_2.png") top left no-repeat; }
.task_1_9_1_r2_c4{ width:27px; height:38px; background-position:-10px -10px; }
.task_1_9_1_r4_c6{ width:32px; height:32px; background-position:-10px -58px; }
.task_1_9_1_r5_c2{ width:11px; height:12px; background-position:-10px -100px; }

